html{
  height: 100%;
  width: 100%;
  
}

.nav_Desktop{
  display: block;
  font-size: 2rem;
  
}
.nav_Desktop ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
  gap: 16px;
  font-size: clamp(1rem, -16.3rem + 86.5vw, 87.5rem);
  
}

.nav_Phone{
  font-size: clamp(1rem, -6.4rem + 37vw, 38rem); 
  display: none;
  
}

.nav_Phone ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
  gap: 16px;
  font-size: clamp(1rem, -16.3rem + 86.5vw, 87.5rem);
  
}

