html{
  height: 100%;
  scroll-behavior: smooth;
  background-color: blue;
  
}

@media (max-width : 36rem) {
  html {
    background-color: yellow;
  }
}

@media (min-width : 36rem) and (max-width : 76rem) {
  html {
    background-color: purple;
  }
}

@media (min-width : 76rem) and (max-width : 87.5rem) {
  html {
    background-color: white;
  }
}
